@use "../styles/modules/theme.scss" as t;

.grid {
  margin: 2rem 0;
  max-width: 100%;
  max-height: 100%;

  .grid-container {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
  }

  .grid-content {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    overflow: auto;
    position: relative;
    padding-top: 1px;
    padding-left: 1px;
    // &::-webkit-scrollbar              { width: 0; height: 0; display: none; }
    // &::-webkit-scrollbar-button       { width: 0; height: 0; display: none; }
    // &::-webkit-scrollbar-track        { width: 0; height: 0; display: none; }
    // &::-webkit-scrollbar-track-piece  { width: 0; height: 0; display: none; }
    // &::-webkit-scrollbar-thumb        { width: 0; height: 0; display: none; }
    // &::-webkit-scrollbar-corner       { width: 0; height: 0; display: none; }
    // &::-webkit-resizer                { width: 0; height: 0; display: none; }
  }

  .grid-item {
    margin-top: -1px;
    margin-left: -1px;
    padding: 0.6rem 1.2rem;
    border: 0.5px solid t.color(main, -60%);
    background-color: t.color(negative, 1%);
    color: t.color(positive);
    white-space: nowrap;

    &.grid-item--header {
      background-color: t.color(positive);
      border-color: lighten(t.color(positive), 8%);
      color: t.color(negative);
      text-transform: capitalize;
    }
  
    &.grid-item--sticky {
      position: sticky;
      left: -1px;
      top: -1px;
    }

    &.grid-item--empty {
      background-color: transparent;
      border: 1px none;
    }
  }
}