@use "../ui/styles/modules/theme.scss" as t;

.layout {
  .layout-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .layout-header-menu {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 0;
      height: 100vh;
      bottom: 0;
      background-color: rgba(t.color(back), 0.9);
      overflow-y: auto;
      transition: all 0.15s ease-in-out;
    }

    &.layout-header--active {
      .layout-header-menu {
        opacity: 1;
        width: 100%;
      }
    }

    .layout-header-menu-content {
      padding: 6rem 0 1.6rem 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .layout-header-action {
      z-index: 0;
      position: absolute;
      top: 0;
      right: 0;
      cursor: default;

      &::after {
        z-index: -1;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30%;
        margin-bottom: -0.4rem;
        border-bottom: 0.1rem solid t.color(main);
      }
    }

    .layout-header-action-content {
      position: relative;
      padding: 1rem 3rem;
      overflow: hidden;
      font-weight: bold;

      &::before {
        z-index: -1;
        content: "";
        position: absolute;
        background-color: t.color(main);
        top: 0;
        left: 0;
        margin-left: -9.8rem;
        width: 300%;
        height: 300%;
        transform: rotate(-45deg);

      }
    }

    .navigation-link {
      margin: 0.4rem 0;
    }
  }

  .layout-content {
    padding-top: 4rem;
    padding-bottom: 6rem;
    display: block;
    min-height: calc(100vh - 10rem);
  }

  .layout-footer {
    display: block;
    background-color: t.color(main);
    padding: 1rem;
  }
}