@use "../ui/styles/modules/theme.scss" as t;

.navigation-link {
  z-index: 0;
  display: inline-block;
  position: relative;
  padding: 1.4rem 1rem 0.6rem 1.6rem;
  cursor: pointer;
  color: #fff;
  min-width: 12rem;
  text-align: right;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: bold;
  margin-right: 1em;
  transition: all 0.15s ease-in;

  &::before {
    z-index: -1;
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0.4rem;
    bottom: 0;
    background-color: t.color(gray);
  }

  &.navigation-link--selected {
    &::before {
      background-color: t.color(main);
    }
    &::after {
      z-index: -1;
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: calc(100% - 0.2rem);
      right: 0;
      bottom: 0;
      background-color: t.color(main);
    }
  }
}
